@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track{
    background: #888;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb {
    background: rgb(62, 62, 237);
    border-radius: 5px;
}
 